spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/microtask_db
    username: microtask_user
    password: microtask_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

app:
  bootstrap:
    admin:
      enabled: false
      email: <ADMIN_EMAIL>
      password: <ADMIN_PASSWORD>
      full-name: System Admin
  security:
    jwt:
      secret: <BASE64_256_BIT_SECRET>
      expiration-ms: 86400000
